In [50]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.metrics import classification_report 

import matplotlib.pyplot as plt
import seaborn as sns

In [51]:
data=pd.read_csv("train.csv")

In [52]:
data

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount,Class
0,-0.082423,-0.015885,0.018296,0.105834,0.291156,0.896142,0.416348,1.854701,-1.378885,-1.910856,0.604230,-1.075685,-0.061769,-0.433251,-2.607791,-0.326539,-0.059030,1.140944,-1.716960,-1.399815,0.146446,-1.442996,1.713633,-1.351671,-0.752007,0.174225,8.400,0
1,-0.134807,-0.038678,0.186766,0.061890,1.691469,-0.583866,0.022343,-1.261033,0.060611,1.567038,-0.744162,0.565000,-0.599505,NaN,-0.402509,0.954646,-0.169216,1.949623,0.881305,0.270719,0.200727,0.378079,-0.707367,0.005269,-0.234881,-0.129527,4.200,0
2,0.050357,0.043518,-0.084152,0.121125,1.782521,-0.614403,0.215234,-2.049707,0.018533,0.315355,-0.941150,-0.774718,3.003092,0.273515,1.689802,-1.662092,0.282405,1.831009,1.190881,1.210408,0.754548,1.155251,-0.154011,0.328052,-0.239821,-0.162559,146.958,0
3,0.104938,0.105659,0.441895,-0.272794,-2.273324,2.845803,-1.722852,1.520203,-2.716840,1.817746,1.575395,-0.252826,0.439894,-1.054180,NaN,-0.940693,0.331142,0.482808,1.097569,-0.682473,0.733577,NaN,0.557412,-0.793795,-0.459385,-0.893781,32.256,0
4,NaN,-0.194533,-0.022850,1.017750,0.062345,0.166484,NaN,1.358151,0.234661,1.516270,-1.218913,-0.112761,0.364553,-0.430106,2.085072,0.963968,0.776721,-0.470592,0.236036,1.172562,-1.397078,-1.231025,0.268283,-0.030406,0.258374,0.352570,982.800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227840,-0.062378,-0.084475,0.105373,-0.517701,-0.934318,1.803950,-2.223308,-1.043553,-1.015165,-1.239415,NaN,0.575031,NaN,1.587505,-1.435405,0.484845,NaN,-0.828269,-1.434535,-0.836271,-0.071522,-0.666678,1.779848,NaN,-1.233789,0.331571,35.070,0
227841,0.099127,-0.245311,-0.330894,-0.660153,-1.041354,0.151982,-0.092051,0.533869,-0.560839,0.413423,0.561013,-0.832251,0.013382,1.258551,1.839191,-0.216619,-1.164745,-0.139365,1.117682,-0.470567,-0.544498,-0.750245,-0.519911,1.350957,0.996902,-0.358639,17.808,0
227842,0.093300,0.084128,0.027110,0.071934,-1.233447,-0.516008,-0.060433,-0.850480,1.205015,0.753668,-0.284691,-0.561775,0.527939,1.197944,-0.341259,0.408714,0.486517,0.418567,-0.424685,-0.975762,-0.083907,-0.156245,0.917953,1.267922,-0.092489,-0.172466,245.112,0
227843,-0.011117,0.224255,0.680317,2.622091,0.303609,0.053248,-1.470773,1.464768,0.651476,-0.488024,0.150620,1.375941,-0.714895,-0.889208,0.436642,-0.695061,-0.352110,-0.411767,-3.101987,1.737707,-0.478558,-0.086716,2.559873,-0.332881,-0.388164,0.536015,2520.000,0
227844,-0.482575,1.850614,0.484970,-0.223700,-1.090661,-1.643434,-0.140899,NaN,0.227330,0.560275,-1.116233,-1.065502,-0.302957,-0.317562,NaN,-1.192653,0.927785,-0.082957,-0.983862,0.073957,0.811007,-0.686400,-0.759192,0.015289,-0.406070,0.441827,210.000,0

In [53]:
## check missing data
data.isnull().sum()

col_0     11270
col_1     11358
col_2     11256
col_3     11516
col_4     11441
col_5     11413
col_6     11254
col_7     11542
col_8     11248
col_9     11275
col_10    11359
col_11    11219
col_12    11361
col_13    11336
col_14    11398
col_15    11334
col_16    11244
col_17    11367
col_18    11365
col_19    11450
col_20    11427
col_21    11151
col_22    11337
col_23    11313
col_24    11295
col_25    11367
Amount    11268
Class         0
dtype: int64

In [54]:
pd.set_option('max_columns',None)

In [55]:
def detect_NaNs(df_temp): 
    print('NaNs in data: ', data.isnull().values.sum())
    return data.isnull().values.sum()

In [56]:
detect_NaNs(data)

NaNs in data:  306164

306164

In [57]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 227845 entries, 0 to 227844
Data columns (total 28 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   col_0   216575 non-null  float64
 1   col_1   216487 non-null  float64
 2   col_2   216589 non-null  float64
 3   col_3   216329 non-null  float64
 4   col_4   216404 non-null  float64
 5   col_5   216432 non-null  float64
 6   col_6   216591 non-null  float64
 7   col_7   216303 non-null  float64
 8   col_8   216597 non-null  float64
 9   col_9   216570 non-null  float64
 10  col_10  216486 non-null  float64
 11  col_11  216626 non-null  float64
 12  col_12  216484 non-null  float64
 13  col_13  216509 non-null  float64
 14  col_14  216447 non-null  float64
 15  col_15  216511 non-null  float64
 16  col_16  216601 non-null  float64
 17  col_17  216478 non-null  float64
 18  col_18  216480 non-null  float64
 19  col_19  216395 non-null  float64
 20  col_20  216418 non-null  float64
 21  col_21  216694 non-null  float64
 22  col_22  216508 non-null  float64
 23  col_23  216532 non-null  float64
 24  col_24  216550 non-null  float64
 25  col_25  216478 non-null  float64
 26  Amount  216577 non-null  float64
 27  Class   227845 non-null  int64
dtypes: float64(27), int64(1)
memory usage: 48.7 MB

In [58]:
data.fillna(data.mean(),inplace=True)

In [59]:
data.isnull().sum()

col_0     0
col_1     0
col_2     0
col_3     0
col_4     0
col_5     0
col_6     0
col_7     0
col_8     0
col_9     0
col_10    0
col_11    0
col_12    0
col_13    0
col_14    0
col_15    0
col_16    0
col_17    0
col_18    0
col_19    0
col_20    0
col_21    0
col_22    0
col_23    0
col_24    0
col_25    0
Amount    0
Class     0
dtype: int64

In [60]:
legit=data[data.Class==0]

In [61]:
fraud=data[data.Class==1]

In [62]:
print(legit.shape)
print(fraud.shape)

(227459, 28)
(386, 28)

In [63]:
legit

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount,Class
0,-0.082423,-0.015885,0.018296,0.105834,0.291156,0.896142,0.416348,1.854701,-1.378885,-1.910856,0.604230,-1.075685,-0.061769,-0.433251,-2.607791,-0.326539,-0.059030,1.140944,-1.716960,-1.399815,0.146446,-1.442996,1.713633,-1.351671,-0.752007,0.174225,8.400,0
1,-0.134807,-0.038678,0.186766,0.061890,1.691469,-0.583866,0.022343,-1.261033,0.060611,1.567038,-0.744162,0.565000,-0.599505,0.000329,-0.402509,0.954646,-0.169216,1.949623,0.881305,0.270719,0.200727,0.378079,-0.707367,0.005269,-0.234881,-0.129527,4.200,0
2,0.050357,0.043518,-0.084152,0.121125,1.782521,-0.614403,0.215234,-2.049707,0.018533,0.315355,-0.941150,-0.774718,3.003092,0.273515,1.689802,-1.662092,0.282405,1.831009,1.190881,1.210408,0.754548,1.155251,-0.154011,0.328052,-0.239821,-0.162559,146.958,0
3,0.104938,0.105659,0.441895,-0.272794,-2.273324,2.845803,-1.722852,1.520203,-2.716840,1.817746,1.575395,-0.252826,0.439894,-1.054180,-0.000576,-0.940693,0.331142,0.482808,1.097569,-0.682473,0.733577,-0.000228,0.557412,-0.793795,-0.459385,-0.893781,32.256,0
4,0.000229,-0.194533,-0.022850,1.017750,0.062345,0.166484,-0.000102,1.358151,0.234661,1.516270,-1.218913,-0.112761,0.364553,-0.430106,2.085072,0.963968,0.776721,-0.470592,0.236036,1.172562,-1.397078,-1.231025,0.268283,-0.030406,0.258374,0.352570,982.800,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
227840,-0.062378,-0.084475,0.105373,-0.517701,-0.934318,1.803950,-2.223308,-1.043553,-1.015165,-1.239415,-0.000060,0.575031,-0.000448,1.587505,-1.435405,0.484845,0.000779,-0.828269,-1.434535,-0.836271,-0.071522,-0.666678,1.779848,0.000636,-1.233789,0.331571,35.070,0
227841,0.099127,-0.245311,-0.330894,-0.660153,-1.041354,0.151982,-0.092051,0.533869,-0.560839,0.413423,0.561013,-0.832251,0.013382,1.258551,1.839191,-0.216619,-1.164745,-0.139365,1.117682,-0.470567,-0.544498,-0.750245,-0.519911,1.350957,0.996902,-0.358639,17.808,0
227842,0.093300,0.084128,0.027110,0.071934,-1.233447,-0.516008,-0.060433,-0.850480,1.205015,0.753668,-0.284691,-0.561775,0.527939,1.197944,-0.341259,0.408714,0.486517,0.418567,-0.424685,-0.975762,-0.083907,-0.156245,0.917953,1.267922,-0.092489,-0.172466,245.112,0
227843,-0.011117,0.224255,0.680317,2.622091,0.303609,0.053248,-1.470773,1.464768,0.651476,-0.488024,0.150620,1.375941,-0.714895,-0.889208,0.436642,-0.695061,-0.352110,-0.411767,-3.101987,1.737707,-0.478558,-0.086716,2.559873,-0.332881,-0.388164,0.536015,2520.000,0
227844,-0.482575,1.850614,0.484970,-0.223700,-1.090661,-1.643434,-0.140899,-0.000078,0.227330,0.560275,-1.116233,-1.065502,-0.302957,-0.317562,-0.000576,-1.192653,0.927785,-0.082957,-0.983862,0.073957,0.811007,-0.686400,-0.759192,0.015289,-0.406070,0.441827,210.000,0

In [64]:
### Statistical measure

In [65]:
legit.Amount.describe()

count    227459.000000
mean        371.378028
std        1039.493934
min           0.000000
25%          26.712000
50%         105.000000
75%         371.665017
max      107902.872000
Name: Amount, dtype: float64

In [66]:
fraud.Amount.describe()

count     386.000000
mean      540.779470
std      1099.204703
min         0.000000
25%         4.200000
50%        77.616000
75%       446.922000
max      8928.654000
Name: Amount, dtype: float64

In [67]:
## compare the values for both transactions
data.groupby("Class").mean()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount
Class,,,,,,,,,,,,,,,,,,,,,,,,,,,
0,-0.004743,-0.001161,-0.000906,-0.000418,-0.000686,0.001513,-0.000894,-0.001115,0.000391,-0.000258,-0.001505,-0.000386,-0.001209,-0.000201,-0.000354,0.001291,0.000105,-0.001972,0.001288,-0.000816,0.001176,0.001547,0.002165,0.000011,0.004868,-0.010057,371.378028
1,2.929949,0.610001,0.729779,-0.063542,0.093554,-0.984758,0.466296,0.610783,-0.364312,0.074539,0.851325,0.294614,0.447860,0.312598,-0.131466,-0.298168,0.397582,0.825638,-0.782054,0.288187,-0.968474,-1.046474,-1.119367,0.369073,-2.371537,5.904497,540.779470

In [68]:
### Undersampling
legit=legit.sample(n=386)

In [69]:
### concatenate two datasets
new_data=pd.concat([legit,fraud],axis=0)

In [70]:
new_data

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount,Class
199187,-0.227072,-0.000126,-0.168426,-0.254890,-0.000526,0.272472,1.087036,-0.972453,-0.504400,-0.690197,0.271047,0.000114,-0.370057,-0.354986,0.590446,-0.779206,-0.666607,-0.890530,-1.537084,-0.841254,0.525248,0.491334,0.000265,-0.424230,-0.891645,0.403057,371.665017,0
156960,0.014438,-0.448157,0.256631,-0.000525,1.845190,-0.361336,-2.351953,1.890973,0.554460,-0.257657,-0.361653,1.888061,1.936876,-0.394354,-0.247314,0.065337,0.117103,-2.291949,0.152942,0.201030,0.705505,1.205612,1.203166,1.194486,0.000842,-0.384802,0.000000,0
4266,-0.029142,-0.217289,-0.179553,-0.434043,-0.558256,-0.413808,0.617825,0.450758,0.178671,-1.028601,0.349918,-0.636972,0.854980,1.021051,1.604400,-1.286774,-1.278666,-0.133276,-1.186502,0.129014,0.481924,0.157722,0.588020,0.708172,0.313373,-0.364946,48.300000,0
143899,-0.142665,-0.367438,-0.197911,-0.210125,-0.073273,-0.451239,-0.485532,-0.176489,-0.685768,-0.788445,0.240069,0.257715,-1.088409,-0.754013,-0.576644,1.949401,0.000779,0.821801,1.822913,0.861315,-0.182508,-0.407214,-2.120528,-0.071976,0.167692,0.419521,357.378000,0
62521,0.160946,-0.196658,0.480395,0.398434,0.848970,-0.241915,-3.070386,1.822391,0.773002,0.444953,-0.845143,0.517725,0.003006,0.286273,0.085900,0.856004,-1.612353,-1.177610,-0.000040,0.570554,0.439696,0.835845,1.155702,0.853864,0.057877,0.105060,814.800000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224583,3.937087,-0.967153,1.583849,-0.014543,-1.755720,23.183412,3.161508,-3.468801,3.718066,-6.646945,-21.221886,-1.618562,-5.255946,0.000329,-8.196965,-5.215861,4.003792,1.806597,-11.859792,5.339413,-0.662069,1.186532,0.000265,5.796773,29.857560,10.062385,4.200000,1
224922,7.552365,3.942379,2.514437,-1.012324,-6.548746,-4.680086,2.389091,2.905509,-1.374378,-0.000132,-0.400471,0.742865,-1.155323,-3.227343,1.726527,0.049912,4.455889,-1.881931,-1.351801,-0.000327,-7.403015,1.098304,-1.394585,4.087655,-11.971339,16.827228,1529.598000,1
225874,3.019858,-0.011602,1.275051,-0.000525,8.184152,-0.306921,-0.907379,-2.586293,-1.207052,3.647371,0.676853,2.644523,2.015838,2.219639,-0.149202,-2.989251,-1.901642,3.565647,0.179142,2.750246,-0.000466,-2.221835,-2.569615,-1.100566,-1.093631,3.454095,4.200000,1
226959,11.586750,0.253260,5.981425,-0.684887,1.990261,-1.355591,1.443880,2.959050,-1.511261,2.463698,1.932316,0.000114,2.612972,1.002318,-0.398080,-0.572278,-0.167312,-0.000570,1.087958,2.473588,-2.484384,-2.553777,-1.407048,-1.061554,-7.538918,14.378606,4.200000,1
227567,2.783992,-0.723647,1.208070,-1.127219,-5.428031,-6.166107,1.170851,2.540009,0.676938,-0.641092,4.267214,0.611933,1.330523,0.066531,0.863027,3.619229,3.306997,-1.548439,-2.940085,-0.455950,-2.248290,-0.420973,-4.136856,-0.432508,-5.456957,14.129194,370.566000,1

In [71]:
new_data.tail()

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount,Class
224583,3.937087,-0.967153,1.583849,-0.014543,-1.755720,23.183412,3.161508,-3.468801,3.718066,-6.646945,-21.221886,-1.618562,-5.255946,0.000329,-8.196965,-5.215861,4.003792,1.806597,-11.859792,5.339413,-0.662069,1.186532,0.000265,5.796773,29.857560,10.062385,4.200,1
224922,7.552365,3.942379,2.514437,-1.012324,-6.548746,-4.680086,2.389091,2.905509,-1.374378,-0.000132,-0.400471,0.742865,-1.155323,-3.227343,1.726527,0.049912,4.455889,-1.881931,-1.351801,-0.000327,-7.403015,1.098304,-1.394585,4.087655,-11.971339,16.827228,1529.598,1
225874,3.019858,-0.011602,1.275051,-0.000525,8.184152,-0.306921,-0.907379,-2.586293,-1.207052,3.647371,0.676853,2.644523,2.015838,2.219639,-0.149202,-2.989251,-1.901642,3.565647,0.179142,2.750246,-0.000466,-2.221835,-2.569615,-1.100566,-1.093631,3.454095,4.200,1
226959,11.586750,0.253260,5.981425,-0.684887,1.990261,-1.355591,1.443880,2.959050,-1.511261,2.463698,1.932316,0.000114,2.612972,1.002318,-0.398080,-0.572278,-0.167312,-0.000570,1.087958,2.473588,-2.484384,-2.553777,-1.407048,-1.061554,-7.538918,14.378606,4.200,1
227567,2.783992,-0.723647,1.208070,-1.127219,-5.428031,-6.166107,1.170851,2.540009,0.676938,-0.641092,4.267214,0.611933,1.330523,0.066531,0.863027,3.619229,3.306997,-1.548439,-2.940085,-0.455950,-2.248290,-0.420973,-4.136856,-0.432508,-5.456957,14.129194,370.566,1

In [72]:
new_data["Class"].value_counts()

0    386
1    386
Name: Class, dtype: int64

In [73]:
X=new_data.drop(columns="Class",axis=1)
Y=new_data['Class']

In [74]:
X

,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,col_9,col_10,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,col_20,col_21,col_22,col_23,col_24,col_25,Amount
199187,-0.227072,-0.000126,-0.168426,-0.254890,-0.000526,0.272472,1.087036,-0.972453,-0.504400,-0.690197,0.271047,0.000114,-0.370057,-0.354986,0.590446,-0.779206,-0.666607,-0.890530,-1.537084,-0.841254,0.525248,0.491334,0.000265,-0.424230,-0.891645,0.403057,371.665017
156960,0.014438,-0.448157,0.256631,-0.000525,1.845190,-0.361336,-2.351953,1.890973,0.554460,-0.257657,-0.361653,1.888061,1.936876,-0.394354,-0.247314,0.065337,0.117103,-2.291949,0.152942,0.201030,0.705505,1.205612,1.203166,1.194486,0.000842,-0.384802,0.000000
4266,-0.029142,-0.217289,-0.179553,-0.434043,-0.558256,-0.413808,0.617825,0.450758,0.178671,-1.028601,0.349918,-0.636972,0.854980,1.021051,1.604400,-1.286774,-1.278666,-0.133276,-1.186502,0.129014,0.481924,0.157722,0.588020,0.708172,0.313373,-0.364946,48.300000
143899,-0.142665,-0.367438,-0.197911,-0.210125,-0.073273,-0.451239,-0.485532,-0.176489,-0.685768,-0.788445,0.240069,0.257715,-1.088409,-0.754013,-0.576644,1.949401,0.000779,0.821801,1.822913,0.861315,-0.182508,-0.407214,-2.120528,-0.071976,0.167692,0.419521,357.378000
62521,0.160946,-0.196658,0.480395,0.398434,0.848970,-0.241915,-3.070386,1.822391,0.773002,0.444953,-0.845143,0.517725,0.003006,0.286273,0.085900,0.856004,-1.612353,-1.177610,-0.000040,0.570554,0.439696,0.835845,1.155702,0.853864,0.057877,0.105060,814.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224583,3.937087,-0.967153,1.583849,-0.014543,-1.755720,23.183412,3.161508,-3.468801,3.718066,-6.646945,-21.221886,-1.618562,-5.255946,0.000329,-8.196965,-5.215861,4.003792,1.806597,-11.859792,5.339413,-0.662069,1.186532,0.000265,5.796773,29.857560,10.062385,4.200000
224922,7.552365,3.942379,2.514437,-1.012324,-6.548746,-4.680086,2.389091,2.905509,-1.374378,-0.000132,-0.400471,0.742865,-1.155323,-3.227343,1.726527,0.049912,4.455889,-1.881931,-1.351801,-0.000327,-7.403015,1.098304,-1.394585,4.087655,-11.971339,16.827228,1529.598000
225874,3.019858,-0.011602,1.275051,-0.000525,8.184152,-0.306921,-0.907379,-2.586293,-1.207052,3.647371,0.676853,2.644523,2.015838,2.219639,-0.149202,-2.989251,-1.901642,3.565647,0.179142,2.750246,-0.000466,-2.221835,-2.569615,-1.100566,-1.093631,3.454095,4.200000
226959,11.586750,0.253260,5.981425,-0.684887,1.990261,-1.355591,1.443880,2.959050,-1.511261,2.463698,1.932316,0.000114,2.612972,1.002318,-0.398080,-0.572278,-0.167312,-0.000570,1.087958,2.473588,-2.484384,-2.553777,-1.407048,-1.061554,-7.538918,14.378606,4.200000
227567,2.783992,-0.723647,1.208070,-1.127219,-5.428031,-6.166107,1.170851,2.540009,0.676938,-0.641092,4.267214,0.611933,1.330523,0.066531,0.863027,3.619229,3.306997,-1.548439,-2.940085,-0.455950,-2.248290,-0.420973,-4.136856,-0.432508,-5.456957,14.129194,370.566000

In [75]:
Y

199187    0
156960    0
4266      0
143899    0
62521     0
         ..
224583    1
224922    1
225874    1
226959    1
227567    1
Name: Class, Length: 772, dtype: int64

In [76]:
## Split 
X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.6,stratify=Y,random_state=2)

In [77]:
print(X.shape,X_train.shape,X_test.shape)

(772, 27) (308, 27) (464, 27)

In [78]:
print(Y.shape,Y_train.shape,Y_test.shape)

(772,) (308,) (464,)

In [79]:
### Logistic regression

model=LogisticRegression(solver='lbfgs',class_weight='balanced', max_iter=10000)

In [80]:
model.fit(X_train,Y_train)

LogisticRegression(class_weight='balanced', max_iter=10000)

In [81]:
y_pred=model.predict(X_test)

In [82]:
score =accuracy_score(Y_test,y_pred)

In [83]:
score

0.9353448275862069

In [42]:
###### for testing data

In [43]:
test=pd.read_csv("test.csv")

In [44]:
test.fillna(data.mean(),inplace=True)

In [45]:
test.isnull().sum()

col_0     0
col_1     0
col_2     0
col_3     0
col_4     0
col_5     0
col_6     0
col_7     0
col_8     0
col_9     0
col_10    0
col_11    0
col_12    0
col_13    0
col_14    0
col_15    0
col_16    0
col_17    0
col_18    0
col_19    0
col_20    0
col_21    0
col_22    0
col_23    0
col_24    0
col_25    0
Amount    0
Class     0
dtype: int64

In [46]:
test_X=test.drop("Class",axis=1)

In [47]:
predicted=model.predict(test_X)

In [48]:
print(predicted)

[1 0 0 ... 0 0 0]

In [107]:
submission = pd.read_csv("sample_submission.csv")

In [108]:
predicted

array([1, 0, 0, ..., 0, 0, 0], dtype=int64)

In [109]:
submission["Class"] = predicted

In [110]:
submission.to_csv("submission.csv", index=False)